<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appnative.dlpires.palmphone_n">

    <!-- PERMISSÃO PARA LER E SALVAR ARQUIVOS INTERNAMENTE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Pagina de Login (Inicial) -->
        <activity
            android:name=".Activity.LoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menu Principal -->
        <activity
            android:name=".Activity.MenuPage"
            android:screenOrientation="portrait" />

        <!-- Perfil Usuário -->
        <activity
            android:name=".Activity.UserPage"
            android:screenOrientation="portrait" />

        <!-- Página de Opções: Coletor -->
        <activity
            android:name=".Activity.ColetorPage"
            android:screenOrientation="portrait" />

        <!-- Página de Opções: Coleta de Dados -->
        <activity android:name=".Activity.ColetorDadosPage"
                android:screenOrientation="portrait"/>

        <!-- Cadastro de Usuario -->
        <activity
            android:name=".Activity.CadastroPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.EditarUserPage"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"/>

    </application>

</manifest>